// Reset and base styles
* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

